omv.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy host.docker.internal:81 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote.host}
        header_up X-Forwarded-For {http.request.remote.host}
        header_up X-Forwarded-Proto {http.request.scheme}
    }
    reverse_proxy /websocket host.docker.internal:81
}

jellyfin.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy jellyfin:8096
}

qbittorrent.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy vpn:8080
}

torrent.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy vpn:3000
}

proxmenux.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy 10.1.1.100:8008
}

proxmox.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy https://10.1.1.100:8006 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

portainer.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy portainer:9000
}

pulse.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy pulse:7655
}

ca.home {
    tls force_automate {
        issuer internal
    }
    root * /data/caddy/pki/authorities/local
    @file path /root.crt
    handle @file {
        header Content-Type "application/x-x509-ca-cert"
        header Content-Disposition "attachment; filename=\"caddy-root.crt\""
        file_server
    }
    @alias path /caddy-root.crt
    rewrite @alias /root.crt

    file_server browse
}

homepage.home {
    tls force_automate {
        issuer internal
    }
    reverse_proxy homepage:3000
}

*.home {
    tls internal {
        on_demand
    }
    reverse_proxy 10.1.1.80:80
}
